
.navbar {
    width: 50%; 
    background-color: #322625; 
    padding: 10px;
    display: flex; 
    justify-content: flex-start; 
  }
  
  .navbar ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-direction: row; 
  }
  
  .navbar li {
    margin: 0 15px; 
  }
  
  .navbar a {
    color: #ebebeb; 
    text-decoration: none; 
    padding: 10px; 
    display: block;
  }
  
  .navbar a.active {
    background-color: #fdc936; 
    color: #322625;
    border-radius: 5px;
  }


  
  